:root {
  --font: "Raleway", sans-serif;
  --container: rgba(255, 255, 255, 0.5);
  --button-border: #a4a4a4;
  --paragraph-color: #293251;
  --windmill-color1: #bababa;
  --windmill-head: #696969;
  --windmill-flap: #979797;
  --bulb-aqi1: #ff0000;
  --aqi2: #ffa500;
  --aqi3: #ffff00;
  --aqi4: #bceb87;
  --aqi5: #008000;
  --button-hover: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  font-weight: 600;
  background: url(https://source.unsplash.com/9AqIdzEc9pY/1600x900) no-repeat
    fixed center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 10px;
}

h4 {
  padding: 10px 0;
}

.container {
  width: 300px;
  height: 300px;
  background-color: var(--container);
  display: block;
  border-radius: 10px;
  padding-bottom: 50px;
}

header {
  display: flex;
  height: 16vh;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: transparent;
}

form {
  margin-top: 25px;
  padding: 10px;
  margin-bottom: 23px;
}

input,
textarea,
button {
  font-family: var(--font);
}

label {
  font-size: 1.3rem;
}

.city input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid var(--button-border);
  border-radius: 5px;
  font-size: 1.2rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--windmill-head);
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

button:hover {
  background-color: var(--button-hover);
  border: 1px solid var(--windmill-head);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  font-weight: 600;
}

#data-area {
  display: none;
}

.showIt {
  display: block;
}

.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: var(--paragraph-color);
}

#greeting-text {
  padding: 10px 0 5px 0;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  background-color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 300px;
  height: 260px;
  background-color: var(--container);
}

.weather-icon {
  width: 300px;
  height: 128px;
  padding: 20px 0;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temp-value p {
  padding: 0;
  margin: 0;
  color: var(--paragraph-color);
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temp-value p:hover {
  text-shadow: 0 0 3px #333;
  font-size: 4.1em;
  transition: 0.1s;
}

span:hover {
  font-size: 5rem;
  color: red;
}

.temp-value span {
  color: var(--paragraph-color);
  font-size: 0.2em;
}

.temp-description p {
  padding: 8px;
  margin: 0;
  color: var(--paragraph-color);
  text-align: center;
  font-size: 1.2em;
}

.location p {
  margin: 0 auto;
  color: var(--paragraph-color);
  text-align: center;
  font-size: 0.8em;
}

/*Sunrise/Sunset style:*/

.sunrise_set {
  width: 300px;
  height: 150px;
  background-color: var(--container);
  border-radius: 10px;
  margin-top: 5px;
  text-align: center;
  padding-top: 10px;
}

/*Air quality card*/

#pollutionInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

.pollutionGrid {
  width: 300px;
  padding: 20px 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3.5rem 2rem 2rem 6rem;
  grid-template-rows: 3.5rem repeat(5, 3.5rem);
  grid-template-areas:
    "a a a a"
    "e j c o"
    "f k c p"
    "g l c q"
    "h m c r"
    "i n c s";
  grid-gap: 0.5rem;
  position: relative;
  background-color: var(--container);
  border-radius: 10px;
}
#headline {
  font-size: 1.2rem;
  grid-area: a;
  text-align: center;
  margin-top: 1.5rem;
}

/*Values*/

.pollutionValues {
  font-size: 20px;
  text-align: right;
  margin-right: 1rem;
  font-weight: bold;
}

#valueRed {
  grid-area: i;
}
#valueOrange {
  grid-area: h;
}
#valueYellow {
  grid-area: g;
}
#valueLightGreen {
  grid-area: f;
}
#valueGreen {
  grid-area: e;
}

/*Triangles*/

#coLevel {
  margin-left: 60px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(270deg);
}
.triangle-down p {
  font-size: 12px;
}
#redTriangle {
  grid-area: n;
  border-top: 20px solid var(--bulb-aqi1);
}
#orangeTriangle {
  grid-area: m;
  border-top: 20px solid var(--aqi2);
}
#yellowTriangle {
  border-top: 20px solid var(--aqi3);
  grid-area: l;
}
#lightGreenTriangle {
  border-top: 20px solid var(--aqi4);
  grid-area: k;
}
#greenTriangle {
  border-top: 20px solid var(--aqi5);
  grid-area: j;
}
/*Pollution bar*/
.bar {
  grid-area: c;
  height: 95%;
  width: 2rem;
  background: linear-gradient(
    to top,
    var(--bulb-aqi1),
    var(--aqi2),
    var(--aqi3),
    var(--aqi4),
    var(--aqi5)
  );
  border-radius: 5px;
  margin-bottom: 1rem;
}

/******Descriptions *****/

.descriptions {
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 0.6rem;
}
#descRed {
  grid-area: s;
}
#descOrange {
  grid-area: r;
}
#descYellow {
  grid-area: q;
}
#descLightGreen {
  grid-area: p;
}
#descGreen {
  grid-area: o;
}

/*Windmill styles:*/

.windmill-container {
  width: 300px;
  height: 300px;
  background-color: var(--container);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}
#windData {
  display: flex;
  justify-content: space-around;
}

#windDirection {
  height: 30px;
  width: 20px;
}
#windmill {
  width: 300px;
  height: 30%;
  position: relative;
  z-index: 10;
}

.post {
  position: absolute;
  width: 5px;
  height: 80px;
  background-color: var(--windmill-color1);
  top: 145px;
  left: 145px;
  border-radius: 3px;
}

.engine {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--windmill-color1);
  top: 137px;
  left: 142px;
  border-radius: 2px;
}

.head {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 140px;
  left: 145px;
  z-index: 1000;
  background-color: var(--windmill-head);
  border-radius: 50%;
}

.flaps {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 90px;
  left: 99px;
  animation: rotatemill 10s linear infinite;
}
.speed1 {
  animation: rotatemill 8s linear infinite;
}
.speed2 {
  animation: rotatemill 4s linear infinite;
}
.speed3 {
  animation: rotatemill 2s linear infinite;
}
.speed4 {
  animation: rotatemill 1s linear infinite;
}
.speed5 {
  animation: rotatemill 0.2s linear infinite;
}

.flap {
  width: 3px;
  height: 60px;
  position: absolute;
  background-color: var(--windmill-flap);
}

.flaps .flap:nth-child(1) {
  top: -10px;
  left: 50px;
}

.flaps .flap:nth-child(2) {
  top: 35px;
  left: 75px;
  transform: rotate(120deg);
}

.flaps .flap:nth-child(3) {
  top: 35px;
  left: 22px;
  transform: rotate(240deg);
}
.bulb {
  height: 8px;
  width: 8px;
  position: absolute;
  top: 133px;
  left: 143px;
  background: var(--bulb-aqi1);
  border-radius: 50%;
  animation: lightbulblight 2s linear infinite;
  z-index: -1;
}

@keyframes rotatemill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes lightbulblight {
  0% {
    background: rgba(49, 7, 7, 0.733);
    box-shadow: 0 0 0 #290707;
  }

  50% {
    background: lighten(#f12a2a, 60%);
    box-shadow: 0 0 10px lighten(#110303, 60%);
  }
}
@media (max-width: 576px) {
  #data-area {
    margin-top: 10px;
  }
}
