* {
  font-family: "Rimouksi", sans-serif;
}
body {
  background-color: #293251;
}
.container {
  width: 300px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 50px;
}
.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}
.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}
.notification {
  background-color: #f8d7da;
  display: none;
}
.notification p {
  background-color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}
.weather-container {
  width: 300px;
  height: 260px;
  background-color: #19457a;
}
.weather-icon {
  width: 300px;
  height: 128px;
  /* background-color: #721c24; */
}
.weather-icon img {
  display: block;
  margin: 0 auto;
}
.temp-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}
/* .temp-value p:hover {
} */
.temp-value span {
  color: #293251;
  font-size: 0.5em;
}
/* .temp-description {
} */
.temp-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}
/* .location {
} */
.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}

/********Windmill styles:**********/
:root {
  --bgcolor: #222;
  --windmillcolor: #BABABA;
  /* --windmillrotation: 4s; */
  --bulbcolor: #360A0A;
  --bulbLight: 10px;
  --lightbulbpulse: 2s;
}

#windmillTitle {
  background-color: lightgreen;
}

#windmill {
  width: 300px;
  height: 350px;
  margin: 10px auto 0;
  position: relative;
  z-index: 10;
  /* background: white; */
}

.post {
position: absolute;
width: 10px;
height: 200px;

background-color: #BABABA;
/* background-image: linear-gradient(to top, var(--windmillcolor) 0%, darken(var(--windmillcolor), 20%) 100%); */
top: 145px;
left: 145px;
border-radius: 3px;
}

.engine {
position: absolute;
width: 20px;
height: 20px;
background-color: #BABABA;
/* background-image: linear-gradient(to bottom, var(--windmillcolor) 0%, darken var(--windmillcolor) 20%, 100%); */
top: 130px;
left: 140px;
border-radius: 4px;
}

.head {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 135px;
  left: 145px;
  z-index: 1000;
  background-color: #696969;
  /* background-image: radial-gradient(center, var(--windmillcolor) 0%, darken( var(--windmillcolor) 40%) 100%); */
  border-radius: 50%;

}


.flaps {
width: 200px;
height: 200px;
position: absolute;
top: 40px;
left: 50px;
animation: rotatemill 10s linear infinite;
}
.speed1 {
  animation: rotatemill 8s linear infinite;
}
.speed2 {
  animation: rotatemill 4s linear infinite;
}
.speed3 {
  animation: rotatemill 2s linear infinite;
}
.speed4 {
  animation: rotatemill 1s linear infinite;
}
.speed5 {
  animation: rotatemill 0.2s linear infinite;
}


.flap {
width: 5px;
height: 120px;
position: absolute;
background-color: #979797;
/* background: linear-gradient(to bottom, var(--windmillcolor) 0%, darken(var(--windmillcolor), 20%) 100%); */
border-top-left-radius: 5px 20px;
}

.flaps .flap:nth-child(1) {
  top: -20px;
  left: 97px;
}


.flaps .flap:nth-child(2) {
  top: 70px;
  left: 150px;
  transform: rotate(120deg);
}

.flaps .flap:nth-child(3) {
top: 70px;
left: 45px;
transform: rotate(240deg);
}
.bulb {
height: 10px;
width: 10px;
position: absolute;
top: 123px;
left: 145px;
background: red;
border-radius: 50%;
animation: lightbulblight var(--lightbulbpulse) linear infinite;
z-index: -1;
}

@keyframes rotatemill {
0% {
  transform: rotate(0deg)
}
100% {
  transform: rotate(-360deg)
}
}
@keyframes lightbulblight {
  0% {
    background: rgba(197, 1, 1, 0.733);
    box-shadow: 0 0 0 var(--bulbcolor);
  }

  50% {
    background: lighten(var(--bulbcolor), 60%);
    box-shadow: 0 0 var(--bulbLight) lighten(var(--bulbcolor), 60%);
  }
}